@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.remeras {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 25px 5px 25px;
}

.short {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 25px 5px 25px;
}

.zapas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 25px 5px 25px;
}

#prinMain {
  display: grid;
  grid-template-columns: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(165, 241, 241);
}

#contac {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  background-color: rgb(165, 241, 241);
  padding-right: 10px;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#pagPrin {
  display: grid;
  grid-template-columns: 30% 70%;
}

header {
  background-color: cyan;
  padding: 10px;
  width: 100%;
  height: 80px;
}
header a {
  list-style-type: none;
  text-decoration: none;
  color: black;
  padding: 10px;
}

#prinProd {
  background-color: rgb(165, 241, 241);
}

#nosotros {
  background: radial-gradient(white, rgb(165, 241, 241));
}

#prinPagos {
  background: radial-gradient(white, rgb(165, 241, 241));
}

.navT {
  background-color: rgb(128, 128, 128);
  padding: 10px;
  text-align: center;
}
.navT div ul {
  padding: 0;
  margin-top: 1rem;
}
.navT div ul li {
  list-style-type: none;
  margin: 15px;
}
.navT div ul li a {
  color: black;
  text-decoration: none;
  padding: 10px;
  font-size: large;
}

.barraNav {
  display: inline-block;
}

footer {
  display: grid;
  grid-template-areas: "contacto      redes" "derechos derechos";
  background-color: rgb(179, 174, 174);
}
footer ul {
  padding: 0;
}
footer ul li {
  list-style-type: none;
}

.contact {
  grid-area: contacto;
  justify-self: center;
}

.red {
  grid-area: redes;
  justify-self: center;
}
.red a {
  color: black;
  font-size: xx-large;
}

.derechos {
  grid-area: derechos;
  justify-self: center;
}

.titulo {
  color: black;
  text-align: left;
  font-style: italic;
  font-size: xx-large;
}

.titcent {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.sub__prin {
  text-align: center;
  padding: 10px 0px 10px 0px;
  font-size: xx-large;
}

.sub__prin1 {
  padding: 5px 5px 5px 5px;
  margin-top: 5px;
  margin-right: 200px;
  margin-bottom: 10px;
  margin-left: 350px;
}

.sub__prin1--izq {
  text-align: center;
}

.contacto1 {
  justify-self: center;
  align-self: center;
}

h5 {
  color: black;
}

.pago_envio {
  color: black;
  text-align: left;
  font-family: "Roboto";
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
  font-size: large;
}

.desc {
  text-align: center;
  margin: 5px 5px 5px 5px;
}
.desc li {
  list-style-type: none;
}

p {
  margin-bottom: 0;
}

.imagenes__prin {
  margin-top: 10px;
  margin-left: 250px;
  margin-bottom: 10px;
  display: inline-block;
}

.imgProd {
  margin-top: 10px;
  margin-bottom: 10px;
}

.new {
  padding: 1rem 0 1rem 0;
  justify-self: center;
}
.new a {
  text-decoration: none;
  color: black;
}

.ofer {
  padding: 1rem 0 1rem 0;
  justify-self: center;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.ofer a {
  text-decoration: none;
  color: black;
}

.produ {
  padding: 1rem 0 1rem 0;
  justify-self: center;
}

.bot {
  text-align: center;
  margin-top: 10px;
}
.bot a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.tamaño {
  height: auto;
  width: auto;
}
.tamaño:hover {
  transform: scale(1.1);
}

.contacto {
  align-self: center;
  margin-left: 10px;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  header {
    padding: 10px;
    width: 100%;
  }
  .titulo {
    padding: 0;
    margin: 0;
    color: black;
    text-align: start;
    font-style: italic;
    font-size: xx-large;
  }
  .navT {
    width: 100%;
    padding-top: 1rem;
    background-color: rgb(128, 128, 128);
  }
  .navT div ul {
    display: flex;
    flex-direction: column;
  }
  .navT div ul a {
    padding: 10px;
  }
  .barraNav {
    padding: 0;
    margin: 0;
  }
  ul {
    padding: 0;
  }
  .navT div ul li a {
    margin: 5px;
  }
  #prinMain {
    width: 100%;
    display: grid;
    grid-template-areas: "novedad " "ofert" "produc";
    grid-template-columns: 100%;
    padding: 5px;
  }
  .new {
    display: grid;
    grid-area: novedad;
    border-bottom: 3px black solid;
  }
  .bot {
    padding-bottom: 5px;
  }
  .ofer {
    display: grid;
    grid-area: ofert;
    border-bottom: 3px black solid;
  }
  .produ {
    display: grid;
    grid-area: produc;
    width: 100%;
  }
  .tamaño {
    width: 100%;
  }
  #nosotros {
    display: grid;
    grid-template-columns: 100%;
    padding: 5px;
  }
  .pago_envio {
    margin: 0;
    font-family: sans-serif;
  }
  .sub__prin1--izq {
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  #contac {
    width: 100%;
    background-color: rgb(165, 241, 241);
    padding: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
  }
  form {
    padding-bottom: 10px;
  }
  .contacto1 {
    margin: 10px;
  }
  .contacto {
    margin: 5px;
  }
  footer {
    width: 100%;
    display: grid;
    grid-template-areas: "contacto" "redes" "derechos";
  }
  .contact {
    grid-area: contacto;
    justify-self: center;
    padding: 10px;
  }
  .red {
    grid-area: redes;
    justify-self: center;
    padding: 10px;
  }
  .derechos {
    grid-area: derechos;
    justify-self: center;
    padding: 10px;
  }
  p {
    margin-bottom: 0;
  }
  #prinProd {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
  }
  .remeras {
    padding: 5px;
  }
  .short {
    padding: 5px;
  }
  .zapas {
    padding: 5px;
  }
  .tamaño:hover {
    transform: scale(0);
  }
}/*# sourceMappingURL=main.css.map */