*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{

    background-color: cyan;

    padding: 50px; 

}


.titulo{
    color: black;
    text-align: left;
    font-style: italic;
    font-size: xx-large;
    

}

.navT{
    background-color: rgb(128, 128, 128);
    padding: 10px;
}

.navT div ul li a{
    color: black;
    text-decoration: none;
    list-style-type: none;
}

.barraNav{
    color: white;
    display: inline-block;
    padding: 0;
    margin-top: 5px;
    margin-right: 50px;
    margin-bottom: 5px;
    margin-left: 250px;

}
.foto{
    content-visibility: 100px;
}

.imagenes__prin{
    margin-top: 10px;
    margin-left: 250px;
    margin-bottom: 10px;
    
    display: inline-block;
}


.sub__prin{
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.piepag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(179, 174, 174);
}

footer ul li a{
    color: black;
    text-decoration: none;
    list-style-type: none;
}

.derechos{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 5px;
}

.titcent{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;

}

.sub__prin1{
    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-right: 200px;
    margin-bottom: 10px;
    margin-left: 350px;
}

.pago_envio{
    padding: 5px 5px 5px 5px;
    margin: 5px 250px 5px 250px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.sub__prin1--izq{
    padding: 5px 5px 5px 5px;
    margin: 5px 250px 10px 250px;
}

.prod{
    display: inline-block;
}

.desc{
    text-align: center;
    margin: 5px 5px 5px 5px;
}

ul li{
    list-style-type: none;
}

.contacto{
    align-self: center;
    margin-left: 10px;

}

.contacto1{
    justify-self: center;
    align-self: center;
}

.remeras{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 5px 5px 5px;
}

.tamaño{
    height: 300px;
    width: 440px;
}

.short{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 5px 5px 5px;
}

.zapas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 5px 5px 5px;
}

.tamaño:hover{
    transform: scale(1.3);
}

#contac{
    display: grid;

    grid-template-columns: 30% 70%;
    grid-template-rows: 600px;
    background-color: rgb(118, 245, 245);
    padding-right: 10px;
}

.red{
    margin-right: 5px;
}

h5{
    color: black;
}

#prinMain{
    display: grid;
    grid-template-areas:    "nuevo prod"
                            "oferta prod";
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    row-gap: 10px;
    row-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(118, 245, 245);

}

.new{
    grid-area: nuevo;
    justify-self: center;

}

.ofer{
    grid-area: oferta;
    justify-self: center;
}

.produ{
    grid-area: prod;
    
    
}
.bot{
    text-align: center;
    margin-top: 10px;
}

.bot a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    
}

.imgProd{
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}


#prinProd{
    background-color: rgb(118, 245, 245);
}

#nosotros{
    background-color: rgb(118, 245, 245);
}