.pago_envio{
    color: black;
    padding: 5px 5px 5px 5px;
    margin: 5px 250px 0px 250px;
    font-family: 'Roboto', sans-serif;
}

.desc{
    text-align: center;
    margin: 5px 5px 5px 5px;
        li{
            list-style-type: none;
    }
}