.pago_envio{
    color: black;
    text-align:left;
    font-family: 'Roboto';
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    font-size: large;
    
}

.desc{
    text-align: center;
    margin: 5px 5px 5px 5px;
        li{
            list-style-type: none;
    }
}

p{
    margin-bottom: 0;
}