.sub__prin{
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.sub__prin1{
    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-right: 200px;
    margin-bottom: 10px;
    margin-left: 350px;
}

.sub__prin1--izq{
    padding: 5px 5px 5px 5px;
    margin: 5px 250px 10px 250px;
}

.contacto1{
    justify-self: center;
    align-self: center;
}


h5{
    color: black;
}
