#prinMain{
    display: grid;
    grid-template-columns: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $secondary;

}

#contac{
    display: grid;

    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    background-color: $secondary;
    padding-right: 10px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#pagPrin{
    display: grid;
    grid-template-columns: 30% 70%;
}