.new{
    padding: 1rem 0 1rem 0;
    justify-self: center;
    a{
        text-decoration: none;
        color: black;
    }

}

.ofer{
    padding:1rem 0 1rem 0;
    justify-self: center;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    a{
        text-decoration: none;
        color: black;
    }
}

.produ{
    padding: 1rem 0 1rem 0;
    justify-self: center;  
}