footer ul{
    padding: 0;
        li{
            list-style-type: none;
            a{
                color: black;
                text-decoration: none;
        }
    }
}

.derechos{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 5px;
}

.piepag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $footer;
}

.red{
    margin-right: 5px;
}
