footer{
    display: grid;
    grid-template-areas:    "contacto      redes"
                            "derechos derechos";
    background-color: $footer;
    ul{
    padding: 0;
        li{
            list-style-type: none;
        
        }
    }
}

.contact{
    grid-area: contacto;
    justify-self: center;
}   

.red{
    grid-area: redes;
    justify-self: center;
    a{
        color: black;
        font-size: xx-large;
    }
}

.derechos{
    grid-area: derechos;
    justify-self: center;
}