@media screen and (min-width: 0px) and (max-width: 480px){
    header{
        padding: 10px;
        width: 100%;
    }

    .titulo{
    padding: 0;
    margin: 0;
    color: black;
    text-align: start;
    font-style: italic;
    font-size: xx-large;    
    }

    .navT{
        width: 100%;
        padding-top: 1rem;
        background-color: $navegation;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .barraNav{
        padding: 0;
        margin:0;
    }

    ul{
        padding: 0;
    }

    .navT div ul li a{
        margin: 5px;
    }

    #prinMain{
        width: 100%;
        display: grid;
        grid-template-areas:    "novedad "
                                "ofert"
                                "produc";
        grid-template-columns: 100%;
        padding: 5px;
    }

    .new{
        display: grid;
        grid-area: novedad;
        border-bottom: 3px black solid;
    }

    .bot{
        padding-bottom: 5px;
    }

    .ofer{
        display: grid;
        grid-area: ofert;
        border-bottom: 3px black solid;
    }

    .produ{
        display: grid;
        grid-area: produc;
        width: 100%;
    }

    .tamaño {
        width: 100%;
    }

    #nosotros{
        display: grid;
        grid-template-columns: 100%;
        padding: 5px;
    }

    .pago_envio{
        margin: 0;
        font-family: sans-serif;
    }

    .sub__prin1--izq{
        margin: 0;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    #contac{
        width: 100%;
        background-color: $secondary;
        padding: 10px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 70%;
    }

    form{
        padding-bottom: 10px;
    }

    .contacto1{
        margin: 10px;
    }

    .contacto{
        margin: 5px;
    }

    .piepag{
        width: 100%;
        display: grid;
        grid-template-areas:    "contacta ayuda"
                                "redes redes"
                                "dere dere";
    }
    
    p{
        margin-bottom: 0;
    }

    .derechos{
        grid-area: dere;
        align-items: center;
    }

    .contact{
        grid-area: contacta;
        margin: 10px;
    }

    .help{
        grid-area: ayuda;
        margin: 10px 15px 10px 10px;
    }

    .red{
        grid-area: redes;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    #prinProd{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
    }


    .remeras{
        padding: 5px;
    }

    .short{
        padding: 5px;
    }

    .zapas{
        padding: 5px;
    }
}